---
import DefaultLayout from '../layouts/default.astro';

---


<DefaultLayout client:visible title="Nature" description="" imageLink="" twitterTitle="" twitterDescription="">
    <h2 class=" text-white bg-black">Nature</h2>
</DefaultLayout>