---
import DefaultLayout from '../layouts/default.astro';
// import VueCounter from '../components/VueCounter.vue';
---


<DefaultLayout client:visible title="Portrait" description="" url="" imageLink="" twitter="" twitterUrl="" twitterTitle="" twitterDescription="">
    <h2 class=" text-white bg-black">Portrait</h2>
    <!-- <VueCounter client:visible /> -->
</DefaultLayout>