---
import OtherLayout from '../layouts/otherLayout.astro';
---

<OtherLayout client:visible title="404 ^^ Sarah Leroy" description="Sarah Leroy, photographe">
    <div class="flex flex-col justify-center space-y-7">
        <img src="https://res.cloudinary.com/sarah3902/image/upload/q_auto/fl_lossy/ar_5:3,c_fill,g_face/v1635875987/sarahleroy.fr/Shooting_Sarah_foret_16_11_20_s-7_rgmtgy.jpg"
            alt="">
        <img src={Astro.resolve("/assets/404.svg")} alt="404">
    </div>
</OtherLayout>