---
import informationsDatas from "../datas/informationDatas.json"
---

<div class="contact-header bg-persoBlue">
    <a href={informationsDatas.instaUrl} target="_blank"><img src={Astro.resolve('/assets/instagram-icon.svg')}
            alt="instagram" class=" w-6 h-6 text-lightColor"></a>
    <button><img src={Astro.resolve('/assets/envelope-icon.svg')} alt="" class=" w-6 h-6 text-lightColor"></button>
</div>