---
const {menu} = Astro.props
import informationsDatas from "../datas/informationDatas.json"
// const foo = Astro.request.canonicalURL
---

<header>
    <img src="" alt="Sarah LEROY">
    <div class="contact-header bg-persoBlue">
        <a href={informationsDatas.instaUrl} target="_blank"><img src={Astro.resolve('/assets/instagram-icon.svg')} alt="instagram" class=" w-6 h-6 text-lightColor"></a>
        <button><img src={Astro.resolve('/assets/envelope-icon.svg')} alt="" class=" w-6 h-6 text-lightColor"></button>
    </div>
    <div class="categories-container">
        <p>Catégories</p>
        <div class="categories-menu">
           
        </div>
    </div>
</header>