---
const {menu} = Astro.props
import HomeImage from "../components/HomeImage.vue"
import HomeContacts from "../components/HomeContacts.astro"
import HomeMenu from "../components/HomeMenu.astro"
---

<header>
    <div class="flex justify-between pt-9 pr-11 pl-4">
        <HomeImage client:visible />
        <HomeContacts client:visible />
    </div>
    <HomeMenu menu={menu} client:visible />
</header>